.vscode
arrays.exe
breakcontinue.exe
cont_precedence_manup.exe
first.exe
loops.exe
pattern1.exe
pattern2.exe
swap.exe
tyepcast.exe
pointer.exe
a.exe
glo_loc.exe
array_pointer.exe
struct_union-enum.exe
classObj.exe
nestingMF.exe
class2.exe
friendFunc.exe
ststicDF.exe
swapobj.exe
distBtwtwoPoints.exe
constructorsx.exe
inheritance.exe
multilevel.exe 
singleInheritance.exe